body 
{   background: #4b6584;
    overflow: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.login{
    border-radius: 1%;
    transition: all 1s;
}

.login img{
    height: 200px;
    width: 200px;
}

.login:hover {
    transform: scale(1.1);
}
