*
{
	margin: 0;
	padding: 0;
}



#controlpanel
{
	background: #E6DADA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.menu
{
    cursor: pointer;
    color: white;
    margin-left: 50px;
}

.navbar .titulo
{
	text-decoration: none;
}

.close
{
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-top: 10px;

}

.fondo
{
    background-color: rgba(30, 39, 46,.9);
}


.nav-menu 
{
  
	margin-top:150px;
	list-style: none;
	display: block;
}

.nav-menu li{

	border-bottom: 1px solid #323232;
	overflow: hidden;
}

.nav-menu a.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
    -webkit-transition: opacity .2s;
    text-decoration: none;
}

.nav-menu div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

.nav-menu li:hover div.barra{
	width:250px;
}


.nav-menu li:hover a.menu{
	opacity: 1;
}


.grupo1
{
	width: 400px;
	height: 200px;
	border: 1px solid black;
}


.trabajos
{
	background: #27ae60;
}



.perfil
{
	background: #192a56;
}

.postulaciones
{
	background: #2980b9;
}

.sesion
{
	background: #c0392b;
}


.after::after
{
	content: '';
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 100px;
	height: 2px;
	background: rgb(219,144,.5);
	margin-bottom: 45px;
}


.row .col-md-6 .off
{
	text-decoration: none;
	color: white;
}

.mostrar-curriculum{
	width: 80%;
	height: 15rem;
}




.rad-info-box{	
	margin-bottom:16px;
	box-shadow:1px 1px 2px 0 #CCCCCC;
	padding:20px;
	box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
	background: white !important;
}

.rad-info-box i{
	display:block;
	background-clip:padding-box;
	margin-right:15px;
	height:60px;
	width:60px;
	border-radius:100%;
	line-height:60px;
	text-align:center;
	font-size:4.4em;
	position:absolute;	
}

.rad-info-box .value,
.rad-info-box .heading{
	display:block;	
	position:relative;
	color: #515d6e;
	text-align:right;
	z-index:10;
}

.rad-info-box .heading{
	font-size:1.2em;
	font-weight:300;
	text-transform:uppercase;
}

.rad-info-box .value{
	font-size:2.1em;
	font-weight:600;
	margin-top:5px;
}

@import url('https://fonts.googleapis.com/css?family=Abel');



.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.carta {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.carta h1 {
  text-align: center;
}

.carta .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.carta.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.carta:hover .additional {
  
  border-radius: 0 5px 5px 0;
}

.carta .additional .user-carta {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.carta .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.carta .additional .user-card .level,
.carta .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.carta .additional .user-card .points {
  top: 85%;
}

.carta .additional .user-card svg {
  top: 50%;
}

.carta .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.carta .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.carta.green .additional .more-info h1 {
  color: #224C36;
}

.carta .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.carta.green .additional .coords {
  color: #325C46;
}

.carta .additional .coords span + span {
  float: right;
}

.carta .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.carta.green .additional .stats {
  color: #325C46;
}

.carta .additional .stats > div {
  flex: 1;
  text-align: center;
}

.carta .additional .stats i {
  display: block;
}

.carta .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carta .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.carta .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.carta .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.carta .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.visualizadorFotoPerfil{
  margin: auto;
  width: 150px;
  height: 150px;
  border: 1px solid;
  overflow: hidden;
}

#formFotoPerfil{
  display: flex;
  justify-content: center;
}

.contenedor-foto-perfil{
  display: inline-block;
  text-align: center;
  position: relative;
}

.texto-editar{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-size: 2rem;
  visibility: hidden;
  cursor: pointer;
}


::-webkit-scrollbar {
  background: transparent;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}